# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
todo-list-react/node_modules
todo-list-react/.pnp
todo-list-react/.pnp.js

# testing
todo-list-react/coverage

# production
todo-list-react/build

# misc
todo-list-react/.DS_Store
todo-list-react/.env.local
todo-list-react/.env.development.local
todo-list-react/.env.test.local
todo-list-react/.env.production.local

todo-list-react/npm-debug.log*
todo-list-react/yarn-debug.log*
todo-list-react/yarn-error.log*
